<% provide(:title, "About") %>

<h1>About</h1>
<p>
  <strong>TinyPost</strong> is a microblogging platform. That's
  a fancy way of saying you can share your thoughts, but only in small
  chunks. It's a great way to blast out new ideas to the world, and
  see what other users are talking about as well.
</p>
