<div class="center jumbotron">
  <h1>Welcome to <strong>TinyPost</strong></h1>

  <p>
    TinyPost allows users to share ideas and keep up with friends. It's
    basically a more awesome and less crowded Twitter!
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>