<% provide(:title, "Log in") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 style="margin-bottom:25px;">Log in</h1>
    <hr>
    
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
