//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/readable/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 80px; }

// And finally bootswatch style itself
@import "bootswatch/readable/bootswatch";

/* FOOTER */

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

