<footer class="footer">
  <small>
    TinyPost | created by
    <a href="https://www.ericwilhite.com/">Eric Wilhite</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://ericwilhite.com/articles">News</a></li>
    </ul>
  </nav>
</footer>
